<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prescription.name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @prescription.dosage %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>

<div class="col-md-8">
  <% if @prescription.stores.any? %>
   <h3>Stores (<%= @prescription.stores.count %>)</h3>
   <ol class="stores">
    <%= render @stores %>
    </ol>
    <%= will_paginate @stores %>
    <% end %>
</div>
